@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

* {
  font-family: 'Crimson Text', Verdana, sans-serifs;
}
.App {
  text-align: center;
}

/* underline animation src = https://codepen.io/mehi/pen/MyWqPM */
.menu-item{
  position: relative;
}

.menu-item:after{
  content: '';
  position: absolute;
  width: 0; height: 2px;
  display: block;
  margin-top: 1px;
  left: 0;
  background: rgb(159, 159, 159);
  transition: width .2s ease;
  -webkit-transition: width 1s ease;
}
 
.menu-item:hover:after{
  width: 25%;
  left: 0;
  background: rgb(159, 159, 159);
}

.scr:hover:after{
  width: 100%;
}

.tcs:hover:after{
  width: 75%;
}

.ti:hover:after{
  width: 50%;
}

.upright, .reversed {
  border-radius: 5px;
  height: 500px;
}

.tagline-fade {
  animation: fadeinout 8s linear 1 forwards;
}

@keyframes fadeinout {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.card-index {
  height: 40vh;
  margin: 20px;
  opacity: 0.8;

  transition: all;
  transition-duration: 0.8s;

}

.card-index:hover {
  opacity: 1;
}

.choose {
  height: 600px;
}

.accordion-fade {
  animation: fadein 2s linear 1 forwards;
}

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
